#basic-addon2 {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    height: 30px;
  }
  
  .form-control {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    height: 30px;
  }
  
  .input-group {
    width: 500px;
  }
  